.navbar {
    grid-area: n;
    background-color: gray;
    display: grid;
    grid-template-areas: "m";
    grid-template-rows: 1fr;
}

.youtubelink{
    font-size:96px;
    color:white;
}

.main{
grid-area: m;
}