.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  
  .tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
    width: 100%;
    text-align: center;
  }
  

  .tab a:hover {
    background-color: #ddd;
  }
  

  .tab a.active {
    background-color: #ccc;
  }

  .tab1{
    grid-area: t1;
  }

  .tab2{
    grid-area: t2;
  }

  .tab3{
    grid-area: t3;
  }

  .tab4{
    grid-area: t4;
  }
  

  .tabpanel{
    display: grid;
    grid-template-areas: "t1 t2 t3 t4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }