body {
  font-family: Arial;
}

html, body {
  height: 100%;
  margin: 0;
}


#root {
  height: 100%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-areas: "h h" "n c" "n f";
  grid-template-rows: 90px 1fr 20px;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  height: 98%;
}

.header {
  grid-area: h;
}

.header img {
  width: 20px;
}

.navbar {
  grid-area: n;
  background-color: gray;
}

.content {
  grid-area: c;
}


.footer {
  grid-area: f;
  background-color: lightgray;
}