.Sticker {
  display: inline-block;
  text-align: center;
  border: 1px double black;
  width: 280px;
  height: 98px;
}

/* .Sticker:hover{
    background-color: lightyellow
  }
   */

.MouseOver {
  background-color: rgb(253, 251, 227)
}

.Studied {
  background-color: rgb(232, 255, 228);
}

.Part {
  border: 1px double lightgray;
  height: 49px;
  /*display: table-cell;
      vertical-align: middle;
      */
  display: flex;
  align-items: center;
  justify-content: center;
}

.English {
  font-style: normal;
  font-weight: 600;
}

.Spelling {
  color: gray;
}

.Russian {
  font-style: normal;
}