.iframe{
    position:absolute;
    right:0; 
    top:0; 
    bottom:0; 
    height:100%; 
    width:100%; 
    padding:0px;
}

iframe{
    right:0; 
    top:0; 
    bottom:0; 
    height:100%; 
    width:100%; 
    padding:0px; 
}

.exitButton{
    position:absolute;
    right:25px; 
    top:16px; 
    bottom:0; 
    width: 20px;
    height: 20px;
}